{% extends 'base.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'audio/audiosty' %}">
{% block content%}

<div class="audios">
    <img src="{% static 'clipimg/20.jpeg' %}" alt="">
    <img src="{% static 'clipimg/28.jpeg' %}" alt="">
    <img src="{% static 'clipimg/1a.jpeg' %}" alt="">
    <img src="{% static 'clipimg/2.jpeg' %}" alt="">
    <img src="{% static 'clipimg/3.jpeg' %}" alt="">
    <img src="{% static 'clipimg/27.jpeg' %}" alt="">
    <img src="{% static 'clipimg/5.jpeg' %}" alt="">
    <img src="{% static 'clipimg/6.jpeg' %}" alt="">
    <img src="{% static 'clipimg/9.jpeg' %}" alt="">
    <img src="{% static 'clipimg/12.jpeg' %}" alt="">
    <img src="{% static 'clipimg/14.jpeg' %}" alt="">
    <img src="{% static 'clipimg/19.jpeg' %}" alt="">
    <img src="{% static 'clipimg/6.jpeg' %}" alt="">
    <img src="{% static 'clipimg/17.jpeg' %}" alt="">
    <img src="{% static 'clipimg/21.jpeg' %}" alt="">
    <img src="{% static 'clipimg/22.jpeg' %}" alt="">
    <img src="{% static 'clipimg/8.jpeg' %}" alt="">
    <img src="{% static 'clipimg/13.jpeg' %}" alt="">
    <img src="{% static 'clipimg/23.jpeg' %}" alt="">
    <img src="{% static 'clipimg/24.jpeg' %}" alt="">
    <img src="{% static 'clipimg/11.jpeg' %}" alt="">
    <img src="{% static 'clipimg/1c.jpeg' %}" alt="">
    <img src="{% static 'clipimg/25.jpeg' %}" alt="">
    <img src="{% static 'clipimg/1b.jpeg' %}" alt="">
    <img src="{% static 'clipimg/26.jpeg' %}" alt="">
    <img src="{% static 'clipimg/15.jpeg' %}" alt="">
    <img src="{% static 'clipimg/16.jpeg' %}" alt="">
    <img src="{% static 'clipimg/10.jpeg' %}" alt="">
</div>

{% endblock%}