{% extends 'base.html' %}

{% block content %}
<div class="compara1">
    <h2>Chronic complications</h2>
    <hr>
    <p class="sepc">These are long-term problems that can develop gradually, and can lead to serious damage if they go unchecked and untreated.</p>
    <ul>
        <li><p>Eye problems (retinopathy)</p> Some people with diabetes develop an eye disease called diabetic retinopathy which can affect their eyesight. If retinopathy is picked up-usually from an eye screening test-it can be treated and sight loss prevented.</li>
        <li><p>Foot problems</p> Diabetes foot problems are serious and can lead to amputation if untreated. Nerve damage can affect the feeling in your feet and raised blood sugar can damage the circulation, making it slower for sores and cuts to heal.</li>
        <li><p>Heart attack and stroke</p> When you have diabetes, high blood sugar for a period of time can damage your blood vessels. This can sometimes lead to heart attacks and strokes.</li>
        <li><p>Kidney problems (nephropathy)</p> Diabetes can cause damage to your kidneys over a long period of time making it harder to clear extra fluid and waste from your body. This is caused by high blood sugar levels and high blood pressure. It is known as diabetic nephropathy or kidney disease.</li>
        <li><p>Nerve damage (neuropathy)</p> Some people with diabetes may develop nerve damage caused by complications of high blood sugar levels. This can make it harder for the nerves to carry messages between the brain and every part of our body so it can affect how we see, hear, feel and move.</li>
        <li><p>Gum disease and other mouth problems</p> Too much sugar in your blood can lead to more sugar in your saliva. This brings bacteria which produces acid which attacks your tooth enamel and damages your gums. The blood vessels in your gums can also become damaged, making gums more likely to get infected.</li>
        <li><p>Related conditions, like cancer</p> If you have diabetes, you're more at risk of developing certain cancers. And some cancer treatments can affect your diabetes and make it harder to control your blood sugar.</li>
    </ul>
</div>
<div class="compara1 compara2">
    <h2>Acute complications</h2> 
    <hr>
    <p class="sepc">These can happen at any time and may lead to chronic, or long-term, complications.</p>
    <ul>
        <li>Hypos – when your blood sugars are too low</li>
        <li>Hypos – when your blood sugars are too low</li>
        <li>Hyperosmolar Hyperglycaemic State (HHS)– a life-threatening emergency that only happens in people with type 2 diabetes. It’s brought on by severe dehydration and very high blood sugars.</li>
        <li>Diabetic ketoacidosis (DKA) – a life-threatening emergency where the lack of insulin and high blood sugars leads to a build-up of ketones.</li>
    </ul>
</div>
<div class="compara3">
    <h2>Managing Complications</h2>
    <hr>
    <h4>Stop smoking</h4>
    <p>Smoking makes it harder for blood to flow around your body to places like your heart and your feet. If you smoke, then stopping is a key part of reducing your chances of complications.</p>
    <h4>Eat more healthily</h4>
    <p>Making healthier food choices can help you to lose weight, bring down your HbA1c, manage your blood pressure and help you reduce the fats in your blood like cholesterol. Ask to see a dietitian if you&#39;d like extra help to eat healthily.</p>
    <h4>Keep active</h4>
    <p>Doing more physical activity helps reduce your chance of getting complications. If you struggle to get about, there are still ways you can keep active.</p>
    <h4>Go to all of your appointments</h4>
    <p>Everyone with diabetes is entitled to a series of test and checks each year to monitor their diabetes, look out for any problems and see if any further support is needed.</p>
</div>
{% endblock %}