{% extends 'base.html' %}

{% block content %}

<section class="secdia">
    <div class="titdia"><h2>Diabetes-Facts</h2></div>
    <div class="bos1">
        <h3>The IDF Diabetes Atlas Report</h3>
    <ul>
        <li>537 million adults (1 in 10) were living with diabetes in 2021. This
            number is expected rise to 643 million by 2030 and 783 million by
            2045.
        </li>
        <li>
            Almost 1 in 2 adults (44%) with diabetes remain undiagnosed (240 million). The majority have type 2 diabetes.
        </li>
        <li>More than 3 in 4 people with diabetes live in low and middle-income
            countries.
        </li>
        <li>541 million adults are at increased risk of developing type 2 diabetes.</li>
        <li>More than 1.2 million children and adolescents (0-19 years) live with
            type 1 diabetes
        </li>
        <li>Diabetes caused 6.7 million deaths in 2021.</li>
        <li>Diabetes was responsible for at least $966 billion in health expenditure in
            2021 – 9% of the global total spent on healthcare.
        </li>
        <li>1 in 6 live births (21 million) are affected by high blood glucose
            (hyperglycaemia) in pregnancy.
        </li>
    </ul>
    </div>
    <div class="bos1 bo2">
        <h3>World Health Organization Report says</h3>
    <ul>
        <li>The number of people with diabetes rose from 108 million in 1980 to 422
            million in 2014. Prevalence has been rising more rapidly in low- and
            middle-income countries than in high-income countries.
        </li>
        <li>Diabetes is a major cause of blindness, kidney failure, heart attacks,
            stroke and lower limb amputation.
        </li>
        <li>Between 2000 and 2019, there was a 3% increase in diabetes mortality
            rates by age.
        </li>
        <li>In 2019, diabetes and kidney disease due to diabetes caused an estimated
            2 million deaths.
        </li>
        <li>A healthy diet, regular physical activity, maintaining a normal body
            weight and avoiding tobacco use are ways to prevent or delay the onset of
            type 2 diabetes.
        </li>
        <li>Diabetes can be treated and its consequences avoided or delayed with
            diet, physical activity, medication and regular screening and treatment for
            complications.
        </li>
    </ul>
    </div>
    
</section>
{% endblock %}