{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="dietheader">
    <div class="maindiet">
        <h1><span class="dietspan">D</span>iabetes <span class="dietspan">D</span>iet</h1>
        
    </div>
    <div class="dietimg1">
        <img class="imgs1" src="{% static 'dietimgs/image3.jpg' %}" alt="">
        <img class="imgs2" src="{% static 'dietimgs/image9.jpg' %}" alt="">
    </div>
</section>    
<section class="dietbody1">
    <div class="bodyimgs">
        <img class="boduimgs1" src="{% static 'dietimgs/image4.jpg' %}" alt="">
        <img class="boduimgs2" src="{% static 'dietimgs/image8.jpg' %}" alt="">
    </div>
</section>
<section class="meltime">
    <div class="table1">
        <img src="{% static 'dietimgs/image12.png' %}" alt="">
        <img class="noborder" src="{% static 'dietimgs/image10.png' %}" alt="">
        <img src="{% static 'dietimgs/image11.png' %}" alt="">
        <img src="{% static 'dietimgs/image13.png' %}" alt="">
        <img src="{% static 'dietimgs/image14.png' %}" alt="">
        <img src="{% static 'dietimgs/image15.png' %}" alt="">
        <img src="{% static 'dietimgs/image16.png' %}" alt="">
        <img src="{% static 'dietimgs/image1.jpg' %}" alt="">
    </div>
</section>
<section class="meltime1">
    <img src="{% static 'Newfolder/dietold/do1 (1).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/dietold/do1 (2).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/dietold/do1 (3).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/dietold/do1 (4).jpeg' %}" alt="">
</section>
<section class="meltime1 meltime2">
    <img src="{% static 'Newfolder/diet/d1 (1).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (2).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (3).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (4).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (5).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (6).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (7).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (8).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (9).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (10).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (11).jpeg' %}" alt="">
    <img src="{% static 'Newfolder/diet/d1 (12).jpeg' %}" alt="">

</section>
{% endblock %}