{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="headsec1">
    <div class="eldertit">
        <h1>El<span class="elderspan">d</span>erly</h1>
        <h1><span class="elderspan">D</span>iabetes</h1>
    </div>
</section>
<section class="sec2">
    <div class="colbox1">
        <h3>Older adults with good health</h3>
        <ul>
            <li>-Functionally and cognitivety intact</li>
            <li>-Long life expectancy</li>
        </ul>
        <p>HbA1 goal less than 7.0 % - 7.5% (53-58 mmol/mol)"</p>
    </div>
    <div class="colbox1 cent">
        <h3>Older adults with intermediate health</h3>
        <ul>
            <li>-Funtionally dependent</li>
            <li>-Multiple co-exisiting chronic illness</li>
        </ul>
        <p>HbA1 goal less than 8.0 % - 8.5% (64-69 mmol/mol)"</p>
    </div>
    <div class="colbox1">
        <h3>Older adults with poor health</h3>
        <ul>
            <li>-End stage chronic illness</li>
            <li>-Palliative or end of life care</li>
        </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
</section>
<section class="sec3">
    <div class="listpoint1">
        <h2>Key Takeaways</h2>
        <ul>
            <li>Diabetes is a chronic disease that's common among older adults, affecting an estimated 33% of people aged 65 and older.</li>
            <li>Diabetes symptoms in older adults can range from mild to severe. They include excessive thirst and urination, blurry vision, and fatigue.</li>
            <li>Diabetes symptoms in older adults can range from mild to severe. They include excessive thirst and urination, blurry vision, and fatigue.</li>
        </ul>
    </div>
    <div class="points2">
        <h2>Symptoms of diabetes in older adults</h2>
        <img src="{% static 'elderimgs/images/image2.png' %}" alt="">
        <ol>
            <li>Increased thirst and urination</li>
            <li>Excessive fatigue</li>
            <li>Wounds that heal more slowly</li>
            <li>Dizziness and/or fainting</li>
            <li>Headaches</li>
            <li>Tingling sensations in hands and feet</li>
            <li>Blurry vision</li>
            <li>Gum problems</li>
            <li>Increased appetite</li>
            <li> Dry mouth</li>
            
        </ol>
    </div>
    <div class="parapoint">           
        <div class="parapoint1">
            <p>The aging population is growing worldwide and the proportion of people above 60 years old accounts for 15% of the whole population which is estimated to 7.5 billion.</p>
            <p>Diabetes in elderly includes two groups: “survivors” of young or middle age onset of diabetes, and incident diabetes in older age or type 2 DM.</p>
            <p>Type 1 DM is exceptional in elderly as auto immune diseases affect young populations. So old people with type 1 DM are practically at the end stage of their disease and are multi complicated.</p>
            <p>Most people over than 60 years old suffer from type 2 DM due to insulin resistance. However, insulin secretion may be severely reduced at the end stage of type 2 DM.</p>
            <p>Complications, and management of DM in elderly vary according to hyperglycemia duration and personal background. Some old people do not have any complication and are easy to manage; others are multi complicated and have additional severe diseases difficult to treat.</p>
            <p>In old people, Vitamin D deficiency seems to be an additional factor, as some authors think Vitamin D deficiency is a link between osteoporosis, insulin resistance, obesity, diabetes and cognitive impairment, especially Alzheimer disease.</p>
            <p>Signs of advanced dehydration such as dry mouth, dry eyes, and dry skin should attract the attention, but usually, old people with DM are diagnosed at the late stage of dehydration with confusion, agitation, delirium, or hyperosmolar coma.</p>
        </div>
        <hr>
        <div class="parapoint1">
            <p>On another hand, high blood pressure and dyslipidemia, cerebrovascular, and chronic pulmonary diseases generally coexist with DM in elderly, which increases the risk of poly medication.</p>
            <p>Old people usually have severe osteoporosis due to vitamin deficiencies. Under nutrition due to isolation, depression, dental and/or socioeconomic problems contribute to bone demineralization too.</p>
            <p>Vitamin D deficiency is one of the most frequent deficiencies in the elderly. It promotes diabetes through insulin resistance and insulin deficiency. It also predisposes to other metabolic, cardiovascular, and cancerous diseases.</p>
            <p>Furthermore, Vitamin D deficiency is a strong factor for proximal muscle weakness, falls, and fractures. Old people are particularly at risk for low Vitamin D levels.</p>
            <p>Solar exposure is usually limited because of less outdoor activity and diet is less varied with a lower natural Vitamin D content. The cutaneous production of Vitamin D decreases with age because of skin changes, with a reduced amount of Vitamin D precursors</p>
            <p>Dizziness and orthostatic hypotension are responsible for old people falls. A strong decline in skeletal muscle tissue due to hormonal imbalance and body composition in elderly is one of the most important causes of loss of independence in old and frail people.</p>
            <p>Muscles weakness obliges old people to use a cane or a wheel chair and exaggerates osteoporosis, which put old people at a high-risk of frequent falls and high incidence of hip, spine, and distal forearm fractures.</p>
        </div>
    </div>
</section>
{% endblock %}