{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'faq/faqstyle.css' %}">
{% block content %}
<div class="faqbody">
    <div class="titfaq"><h2>Frequently asked questions</h2></div>

<section class="faqs">
    <div class="qus">
        <h3>What is type 1 diabetes?</h3>
        <p>Type 1 diabetes is the most common type of diabetes found in children but can occur in
            adults. This condition is when the pancreas, an organ in your body, is no longer able to
            make insulin.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>What is insulin?</h3>
        <p>Insulin is a hormone in your body that acts as a key. It opens “the door” to let sugar into
            parts of the body where it is needed for energy. When insulin is not around, the sugar rises
            in your blood stream. This leads to increased urination (having to go to the bathroom),
            increased thirstiness and weight loss.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>Why does the pancreas stop working?</h3>
        <p>First know that it is nothing that you did to cause this to happen. For reasons not
            completely understood, the immune system (that part of your body that protects you from
            infections) gets confused in Type 1 diabetes and attacks the cells in the pancreas that make
            insulin. It’s like the linemen on a football team getting confused and sacking their own
            quarterback.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>How is Type 1 diabetes treated?</h3>
        <p>Type 1 diabetes is treated by taking insulin injections daily and learning how to adjust this
            dosing based on what you eat, what your goal blood sugars are and your activity.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>What is a low blood sugar and how do you treat a low blood sugar?</h3>
        <p>A low blood sugar is 69mg/dl or less. To treat a low blood sugar, give 15 grams of
            carbohydrate, wait 15 minutes and recheck the blood sugar. If still low, repeat. For more
            details, see Low Sugar: Routine Treatment. If the child is unable to safely swallow, you
            should not put anything in his/her mouth, but instead give a glucagon injection. For more
            details on giving glucagon, see Low Sugar: Emergency Glucagon, as well as this Glucagon
            website.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>What do I do if blood sugar is low right at meal time?</h3>
        <p>There are a couple options. Either option is safe, and you’ll get the hang of what works for
            your family in each situation. You have a low blood sugar, so one great option is to treat this like you would normally,
            with 15 grams of carbohydrate. Recheck in 15 minutes and then dose your insulin for the
            45 grams of carbs, as you normally would. Another option is to treat the low with 15 grams of carbs by simply counting 15 grams of
            the 45 grams of breakfast as “free.” In this case you would dose the insulin only for the
            remaining 30 grams.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>What do I need to know about diabetes and exercise?</h3>
        <p>Sports and activity can cause blood sugars to go up (from the adrenaline) or down (from
            increased insulin sensitivity that comes with exercise - a healthy thing). It’s important to
            check your sugar before such an activity and have Gatorade or other carb-containing
            beverages on the sidelines ready to treat any low blood sugars. After long, vigorous days
            of activity, some kids will have a delayed pattern of lower blood sugars, so if you have a
            field day or full day soccer meet, for example, check your sugar one extra time overnight
            (at around 2am) to watch for lower sugars.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>What do I do if the blood sugar reads above 400 md/dl or higher?</h3>
        <p>Take a deep breath. Although this is certainly a very high sugar and we don’t want the
            blood sugars to stay in this high of a range, one high sugar is not going to hurt your child.
            Treat this with your usual correction dose of insulin.
            If you notice sugars are greater than 300mg/dl for two or three checks in a row, check your
            child’s urine ketones and call us if they are positive. If the sugars stay greater than
            300mg/dl for more than a day or two, your child probably needs more insulin, so let us
            know to help make this adjustment.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>What do I do if I forgot the long acting insulin?</h3>
        <p>Give the Lantus now. As the saying goes, better late than never! Things happen and there
            may come a time that you forget to give the Lantus. If this is the case, as soon as you
            remember, do give the dose. Be mindful that it will last about 20-24 hours, so keep an eye
            on sugars, if there is some overlap with the following evening's bedtime dose.
        </p>
    </div>
    <hr>
    <div class="qus">
        <h3>Can someone with diabetes take cold medications?</h3>
        <p>In general, children or adolescents with diabetes can take cold medications (Tylenol,
            cough syrups, decongestants) when they are ill. However, like anyone taking cold
            medications, it is important that the age limits and doses indicated by the manufacturer on
            the box are followed. Cold medicine that is given as a syrup can contain glucose and the medications themselves
            can raise the blood glucose. As a result, when the blood glucose is checked later, a small
            correction might be required to account for the possible increase in the blood glucose from
            the medication. Many medications such as cough syrup are available in sugar-free
            formulas that can be used. Also, remember when you or your child is sick, it is very important that you check blood
            glucose and give insulin per your sick day plan, whether or not they take any cold relief
            medications.
        </p>
    </div>
    <div class="qus">
        <h3>What should my blood sugar be when I wake up (fasting) and before meals? What about after?</h3>
        <p>For most people with diabetes, physicians recommends a fasting or before-
            meals blood glucose (or blood sugar) goal of 70–130 mg/dl. One to two
            hours after eating, a postprandial blood sugar reading at or under 180
            mg/dl is recommended.</p>
    </div>
    <div class="qus">
        <h3>Does a diagnosis of type 2 diabetes mean I will have to go on insulin?</h3>
        <p>No. People with type 2 diabetes may or may not ever need to take
            insulin injections, depending on several factors, including the timing of
            diagnosis. Research indicates that if type 2 diabetes is treated early and
            blood sugar is controlled initially and over the years, the pancreas is more
            likely to produce enough insulin longer. But a person who lives with type 2
            upward of 15 years is unlikely to continue to make sufficient insulin and will
            need to take it via syringe, pen, or pump.</p>
    </div>
    <div class="qus">
        <h3>Can I get rid of type 2 diabetes if I stop eating carbs and/or lose a lot of
            weight?</h3>
            <p>No, but you can control it. If you have prediabetes or were just
                diagnosed with type 2, losing a lot of weight can put the condition into
                remission. Weight regain, aging, and the natural progression of type 2
                diabetes can bring it back. Not eating carbohydrate or severely restricting it
                is nearly impossible for any length of time. It's also not healthy, because
                you won't get essential nutrients.</p>
    </div>
    <div class="qus">
        <h3>Why is it OK to eat fruit when it's full of carbohydrate? Are some fruits betterto eat than others?</h3>
        <p>The calories in all fruits (fresh, frozen, dried, and canned without added
            sugar) are mainly carbohydrate with a bit of protein. People with diabetes
            need to eat a certain amount of carbs every day for energy and essential
            nutrients. Healthy sources of carbs include fruits, as well as vegetables,
            whole grains, legumes (beans), and low-fat dairy foods.</p>
    </div>
    <div class="qus">
        <h3>How can I learn to accept my diabetes?</h3>
        <p>Accepting that you have diabetes is largely an act of cognition-a
            realignment of what you view as real and vital to your existence and how it
            can impact your life. Accept that diabetes will, for the rest of your life, be
            there. And it's a very treatable disease, which places few restrictions on
            you if you follow treatment recommendations.</p>
    </div>
    <div class="qus">
        <h3>Will insulin make me gain weight?</h3>
        <p>The reason we need insulin-as a hormone made in our bodies or as a
            medication-is to push glucose into cells for energy. Insulin's job is to
            process calories. For this reason, it can-but doesn't have to-cause weight
            gain. To prevent weight gain: Practice portion control. Burn extra calories
            with exercise. If your blood sugar has been high for a while prior to starting
            insulin, you've likely been excreting calories in your urine instead of fueling
            your body. This won't happen once your blood sugar is under control. If you
            experience hypoglycemia (low blood sugar), treat it with just 15 grams of
            carb.</p>
    </div>
    <div class="qus">
        <h3>Why is weight loss so important? What's the best way for a person with type 2 to lose weight?</h3>
        <p>Weight loss is vital, particularly just after a diagnosis of type 2 or
            prediabetes. Weight loss increases insulin sensitivity, allowing cells to more
            effectively use the insulin the body continues to make. Losing just 10–20
            pounds can accomplish a boatload of benefits. Among them are improved
            blood sugar, blood pressure, and cholesterol levels and possibly taking
            fewer medications or lower doses. To lose weight slowly and steadily,
            change your lifestyle. The pounds you keep off over time are the most
            important to living a long life.</p>
    </div>
    <div class="qus">
        <h3>Can I get rid of diabetes? Will it ever go away?</h3>
        <p>Once you are diagnosed with type 1 or type 2 diabetes, you have it for
            the rest of your life. To stay healthy, keep your blood sugar, blood pressure,
            and cholesterol under good control. To do so, eat healthy, be physically
            active, and take your prescribed medications. Also get the tests and checks
            you need to detect complications early and treat them aggressively.</p>
    </div>
    <div class="qus">
        <h3>How can I get motivated to take care of myself?</h3>
        <p>1. Move away from all-or-nothing thinking. 2. Don't judge yourself as bad or good. 3. Make one tiny habit change after another. Experience success, then change another tiny habit, then another. Eventually you'll experience "success momentum".</p>
    </div>
</section>
<section class="faqpic">
    <div class="faqsec2">
        <img src="{% static 'Newfolder/faq/f1.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f2.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f3.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f4.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f5.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f6.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f7.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f8.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f9.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f10.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f11.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f12.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f13.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f14.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f15.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f16.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f17.jpeg' %}" alt="">
        <img src="{% static 'Newfolder/faq/f18.jpeg' %}" alt="">
    </div>
</div>    
</section>    
{% endblock %}