{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="exehead">
    <img src="{% static 'exeimgs/image1.jpg' %}" alt="">
    <div class="exeimg">
        <img src="{% static 'exeimgs/image5.png' %}" alt="">
        <img class="exeimg1" src="{% static 'exeimgs/image6.jpg' %}" alt="">
    </div>
</section>
<hr>
<section class="exebody1">
    <div class="bimg">
        <img src="{% static 'exeimgs/image7.jpg' %}" alt="">
    </div>
</section>
<hr>
<section class="exesec1">
    <div class="exesec11">
        <h2>10 exercises to help you manage Type 2 diabetes</h2>
    <div class="exelist10">
        <h3>1. Walking</h3>
        <p>Walking is a low-impact activity that many people enjoy. Getting your steps can improve your blood pressure, glucose, and cholesterol levels. And 30 minutes of brisk walking –– or about 100 steps a minute –– is a great way to meet the ADA's recommendation for daily aerobic exercise.</p>
        <p>You can also boost the intensity of your walks by adding activities like stair climbing. But if you weren't active before your diabetes diagnosis, consider starting slowly and gradually upping the pace.</p>
    </div>
    <div class="exelist10">
        <h3>2. Running</h3>
        <p>With proper training –– and your healthcare provider&#39;s approval –– you can work your way up from brisk walking to running. This faster-paced activity has been linked to a reduced risk of high blood pressure, high blood sugar, and high cholesterol.</p>
    </div>
    <div class="exelist10">
        <h3>3. Cycling</h3>
        <p>There&#39;s a reason stationary bikes have become so popular. Regular bicycling can improve
            everything from your heart and lung health to your balance and posture. But you don&#39;t need
            an expensive fitness bike to get started. You can grab an old bike and hit the outdoors or try a
            stationary bike at your local gym. And research shows that cycling can improve health
            outcomes for people who have diabetes.</p>
    </div>
    <div class="exelist10">
        <h3>4. Dancing</h3>
        <p>Adding dance to your routine can make your workouts more fun. Dancing is a heart-healthy
            activity that can also improve your fitness and blood sugar levels. One study found that
            people with T2D who participated in a dance program were more motivated to stick to a
            routine than those who did a different fitness program.</p>
    </div>
    <div class="exelist10">
        <h3>5. Water aerobics</h3>
        <p>There are plenty of reasons to take your workout to the pool. Water exercises like
            swimming are easy on the joints and may reduce blood sugar levels. They may also boost
            overall fitness, strength, and heart health in people with T2D.</p>
    </div>
    <div class="exelist10">
        <h3>6. High intensity interval training</h3>
        <p>With HIIT, you switch between short bouts of high-intensity activities and longer bouts of
            lower-intensity moves. You can add it to various exercises like running and cycling. If you
            have Type 2 diabetes, HIIT may decrease your fasting blood sugar.</p>
    </div>
    <div class="exelist10">
        <h3>7. Weight training</h3>
        <p>This form of strength training uses weights or other equipment to build or maintain muscle
            mass and strength. And it may increase insulin sensitivity and glucose tolerance in people
            with T2D.</p>
    </div>
    <div class="exelist10">
        <h3>8. Yoga</h3>
        <p>Yoga involves low-impact movement, meditation, and breathing. It can improve balance,
            flexibility, and strength. This is especially helpful for older people with T2D who might be at
            greater risk of falling. The practice may also help you manage your blood sugar and
            cholesterol levels.</p>
    </div>
    <div class="exelist10">
        <h3>9. Tai chi</h3>
        <p>Tai chi also combines low-impact moves, meditation, and breathing techniques. The ancient
            practice promotes better balance, range of motion, and overall well-being. And adding it to
            your fitness routine may lower your blood sugar.</p>
    </div>
    <div class="exelist10">
        <h3>10. Pilates</h3>
        <p>Another low-impact form of exercise, Pilates earns a spot on this list for good reason. It uses
            repetitive movements and breath control to strengthen your core and improve your balance
            and posture. And a study showed that practicing Pilates helped participants with T2D control
            their blood glucose.</p>
    </div>
    </div>        
</section>
<hr>
<section class="exesec2">
    <div class="exesec21">
        <div class="exeat">
            <h3>Keeping active at home</h3>
            <p>If you&#39;re spending time at home, there are lots of ways to get active and keep moving
                that much more. How about doing:</p>
            <ul>
                <li>On-the-spot walking during TV ad breaks</li>
                <li>stretches for your arms and legs whilst sat in a chair</li>
                <li>hoovering your home or washing your car</li>
                <li>using cans of food as weights</li>
                <li>gardening - if you have a garden. If you don’t, do you have any house plants you can water, prune and re-pot while standing up?</li>
            </ul>
            <p>Staying connected with others can also help with both your physical and mental health,
                so why not get moving with your family or friends? Although this can only happen
                virtually for now, the online workouts we’ve suggested could take place over Zoom,
                Facetime or through other apps.</p>
        </div>
        <div class="exeat">
            <h3>Keeping active on the move</h3>
            <p>It’s surprising how a slight change of routine can increase your physical activity levels
                and help you feel better when you’re living with diabetes. This could include:</p>
            <ul>
                <li>getting off the bus or tube one stop earlier, or parking further away from your
                    destination</li>
                <li>taking the stairs instead of the lift or escalator</li>
                <li>using your food shopping as weights</li>
                <li>cycling</li>
                <li>walking</li>
            </ul>
        </div>
        <div class="exeat">
            <h3>Keeping active at work</h3>
            <p>Keeping active at work when you have diabetes is important, especially if you have to
                sit down in front of a computer for a long time. Although many of us are working from
                home right now, you may still want to try:</p>
                <ul>
                    <li>walking meetings, using hands free equipment to chat whilst moving around in a
                        safe environment</li>
                    <li>standing when you’re on the phone or trying to use a standing desk</li>
                    <li>chair-exercises like sitting and lifting your arms up</li>
                    <li>putting set break times in your work diary every day and using the time to be
                        more active - e.g. going for a walk and getting some fresh air</li>
                    <li>stretching for 5 minutes after every meeting; this can also be a great way to
                        relieve stress.</li>
                </ul>
        </div>
        <div class="exeat">
            <h3>Keeping active as a hobby</h3>
            <p>You could try starting up a new physical activity hobby. It’ll help you manage your
                diabetes and feel good. Some ideas include:</p>
                <ul>
                    <li>Starting yoga or Pilates YouTube workouts</li>
                    <li>Swimming</li>
                    <li>Signing up to a new class, such as dance or tai-chi</li>
                    <li>Skipping</li>
                    <li>Bowls</li>
                </ul>
                <p>You may also want to take a look at our fundraising events - there’s a big range to
                    choose from throughout the year, involving walking, swimming, cycling and lots more.
                    We organise these to help you get active and raise money, so we can keep working
                    towards a world where diabetes can do no harm.</p>
        </div>
    </div>
</section>
<hr>
{% endblock %}