{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="footbody">
    <div class="box1">
        <div class="topic">
            <h1>Foot care</h1>
            <img src="{% static 'picture/img1.png' %}" alt="">
        </div>
        <div class="scroll">
            <section class="footsec1">
                <h2>General Foot Care Tips:</h2>
                <p>1.<strong> Daily Washing:</strong> Use lukewarm water and mild soap. Dry thoroughly.</p>
                <p>2.<strong> Moisturizing:</strong> Apply moisturizer after showering, avoiding spaces between toes.</p>
                <p>3.<strong> Daily Inspection:</strong> Examine feet for blisters, cuts, or sores.</p>
                <p>4.<strong> Toenail Care:</strong> Cut toenails straight across and maintain a reasonable length.</p>
                <p>5.<strong> Socks and Footwear:</strong> Wear clean socks daily. Ensure shoes are properly fitted and comfortable.</p>
                <p>6.<strong> Winter Care:</strong> Keep feet warm with thick cotton socks in winter.</p>
                <p>7.<strong> Heel Height:</strong> Limit heel height to 2cm for stability.</p>
                <p>8.<strong> Protection:</strong> Avoid walking barefoot inside and outside.</p>
                <p>9.<strong> Shoe Check:</strong> Check inside shoes for foreign objects.</p>
            </section>
            <section class="footsec1">
                <h2>Additional Tips for Individuals with Diabetes:</h2>
                <p>1.<strong> Daily Foot Inspection:</strong> Check for skin color changes, cuts, blisters, hard skin, and fungal infections.</p>
                <p>2.<strong> Signs of Infection:</strong> Be aware of signs like redness, warmth, swelling, pain, pus, smell, fever, or chills.</p>
                <p>3.<strong> Moisturize and File:</strong> Moisturize daily, avoiding application between toes. File hard skin or corns; seek professional advice if needed.</p>
                <p>4.<strong> Toenail Care:</strong> Cut toenails straight across and file edges.</p>
                <p>5.<strong> Supportive Shoes:</strong> Wear shoes with supportive features and choose well-fitting socks.</p>
                <p>6.<strong> Blood Sugar Control:</strong> Maintain good blood sugar levels.</p>
                <p>7.<strong> Regular Check-ups:</strong> Go for a yearly Diabetic Foot Screening.</p>
            </section>
            <section class="footsec1">
                <h2>Understanding Diabetes-Related Foot Issues:</h2>
                <p>Diabetes can lead to neuropathy (nerve damage) in the feet, causing sensations like tingling, pain, or weakness. Reduced blood flow to the feet is common in diabetes, making it difficult for injuries to heal and increasing the risk of infections. Changes in foot shape or toes can contribute to further complications.</p>
            </section>
            <section class="footsec1">
                <h2>Regular Communication with Healthcare Professionals:</h2>
                <p>Regular communication with your diabetes care team is crucial for comprehensive management. Be proactive in reporting any changes or issues in your feet promptly. Your healthcare professionals can provide tailored advice, monitor your foot health, and intervene early if needed.</p>
            </section>
            <section class="footsec1">
                <h2>Maintain Blood Sugar Levels:</h2>
                <p>Keeping your blood sugar levels within a target range is crucial for overall health, including the well-being of your feet. Consistent blood sugar control helps prevent or minimize complications related to diabetes, including those affecting your feet. Follow your healthcare team's recommendations for medication, diet, and lifestyle adjustments to manage your blood sugar effectively.</p>
            </section>
            <section class="footsec1">
                <h2>Regular Professional Check-up:</h2>
                <p>In addition to your daily routine, it's essential to go for a yearly Diabetic Foot Screening at a polyclinic, GP clinic, or hospital. These screenings are proactive measures to assess your foot health, identify potential issues early on, and receive professional guidance on managing diabetes-related foot concerns.</p>
            </section>
            <section class="footsec1">
                <h2>Daily Foot Care Routine:</h2>
                <p>1.<strong> Wash with Caution:</strong> Use warm water; avoid soaking.</p>
                <p>2.<strong> Thorough Drying:</strong> Dry feet completely, especially between toes.</p>
                <p>3.<strong> Moisturize Carefully:</strong> Keep the skin soft without applying between toes.</p>
                <p>4.<strong> Daily Inspection:</strong> Check for cuts, sores, blisters, redness, calluses, or any other abnormalities.</p>
                <p>5.<strong> Immediate Reporting:</strong> Report any changes promptly to your diabetes care team.</p>
            </section>
            <section class="footsec1">
                <h2>Summary:</h2>
                <p>By incorporating these foot care practices into your daily routine, you can maintain healthy feet and reduce the risk of complications, especially if you have diabetes. Remember to stay vigilant, conduct regular self-checks, and report any changes or issues to your healthcare team promptly.</p>
                <p>It's crucial to understand the specific challenges that diabetes can pose to foot health and take proactive steps to address them. With proper care, you can enhance your overall well-being and minimize the impact of diabetes-related foot issues.</p>
                <p>Always consult with your healthcare professionals for personalized advice and guidance on managing diabetes and maintaining optimal foot health.</p>
            </section>
            <section class="footsec1">
                <h2>Conclusion:</h2>
                <p>Taking care of your feet is an essential part of maintaining overall health, particularly for individuals with diabetes. The daily foot care routine, coupled with regular check-ups and a proactive approach, can significantly reduce the likelihood of complications. Remember, your feet are valuable indicators of your overall well-being, and by following these guidelines, you are actively contributing to your long-term health.</p>
                <p>If you have any concerns or notice changes in your feet, don't hesitate to reach out to your healthcare team. Your proactive engagement in foot care, coupled with professional guidance, is key to managing diabetes-related foot issues effectively.</p>
            </section>
            <section class="footsec1">                
                <div class="paper">
                    <h2>Research Papers</h2>
                    <div class="paper1">
                        <div class="pap">
                            <div class="pap1">
                                <p>1. Diabetic Amputation</p>
                                <a href="https://www.physio-pedia.com/Diabetic_patient_amputation:_Amputee_Case_Study#Title" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>2. Diabetic foot care presentation</p>
                                <a href="https://www.slideshare.net/drgowrishankarb/diabetic-foot-case-presentation" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>3. Treating a patient with foot Ulcer</p>
                                <a href="https://www.hmpgloballearningnetwork.com/site/podiatry/case-study-treating-patient-chronic-diabetic-foot-ulcer" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p> 4. General Facts</p>
                                <a href="https://www.healthline.com/health/diabetic-foot-pain-and-ulcers-causes-treatments" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>5. Analysis of Amputation Risk</p>
                                <a href="https://www.healthline.com/health/diabetic-foot-pain-and-ulcers-causes-treatments" target="_blank"><button>Read More</button></a>
                            </div>
                        </div>
                        <div class="papp">
                            <div class="pap1">
                                <p>6. How to protect foot</p>
                                <a href="https://www.mayoclinic.org/diseases-conditions/diabetes/in-depth/amputation-and-diabetes/art-20048262" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>7. General Facts</p>
                                <a href="https://www.azuravascularcare.com/infopad/diabetic-foot-amputation-stats/" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>8. Facts</p>
                                <a href="https://www.medicalnewstoday.com/articles/158770" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>9. Facts</p>
                                <a href="https://www.orthobullets.com/foot-and-ankle/7046/diabetic-foot-ulcers" target="_blank"><button>Read More</button></a>
                            </div>
                            <div class="pap1">
                                <p>10. Facts</p>
                                <a href="https://www.news-medical.net/health/Diabetes-and-gangrene.aspx" target="_blank"><button>Read More</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footsec1">
                <h2>Images</h2>
                <div class="poto">
                    <img src="{% static 'foot/1.jpeg' %}" alt="">
                    <img src="{% static 'foot/2.jpeg' %}" alt="">
                    <img src="{% static 'foot/3.jpeg' %}" alt="">
                    <img src="{% static 'foot/4.jpeg' %}" alt="">
                    <img src="{% static 'foot/5.jpeg' %}" alt="">
                    <img src="{% static 'foot/6.jpeg' %}" alt="">
                    <img src="{% static 'foot/7.jpeg' %}" alt="">
                    <img src="{% static 'foot/8.jpeg' %}" alt="">
                    <img src="{% static 'foot/9.jpeg' %}" alt="">
                    <img src="{% static 'foot/10.jpeg' %}" alt="">
                    <img src="{% static 'foot/11.jpeg' %}" alt="">
                    <img src="{% static 'foot/12.jpeg' %}" alt="">
                    <img src="{% static 'foot/13.jpeg' %}" alt="">
                    <img src="{% static 'foot/14.jpeg' %}" alt="">
                    <img src="{% static 'foot/15.jpeg' %}" alt="">                    
                </div>
            </section>
        </div>
    </div>
        
</body>
{% endblock %}