{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'chat/chatstyle.css' %}">
{% block content %}
<div class="jubody">
<div class="titju"><h2>Juvenile Diabetes</h2></div>
<section class="sec1">
    <div class="para1">
        <h3>What age is considered Juvenile Diabetes (JD)?</h3>
        <p>The most common age for a Juvenile Diabetes is between 10 and 16, possibly because
            puberty triggers an increase in harmone production and these harmones, including estrogen
            and testosterone, can affect blood sugar levels.
        </p>
        <ul>
            <li><b>Type 1</b>Diabetes, once known as JD or Insulin- Dependant Diabetes, is a chronic condition. In
                this condition, the pancreas makes little or no insulin. Insulin is a harmone the body uses to
                allow sugar (glucose) to enter cells to produce energy.
            </li>
            <li><b>Type 2</b> diabetes is an autoimmune condition in which one’s body no longer produces insulin
                efficiently. It is a disease passed down genetically, diagnosed at birth or later in life. Type 2
                diabetes also has a genetic risk but is more correlated to one’s diet and exercise habits. This
                condition affects how a child’s body processes sugar or glucose for fuel.
            </li>
            <li><b>Type 3</b> diabetes used to be more commonly associated with children, while type 2 diabetes
                coined the term adult-onset diabetes. However, as mentioned earlier, the rise in childhood
                obesity has caused a spike in children with type 2 diabetes.
            </li>
        </ul>
    </div>
    <div class="para1 sec">
        <h3>Type 1</h3>
        <h4>Diabetes is referred to as “juvenile” diabetes</h4>
        <p>The name “juvenile” diabetes came to be because type 1 can be diagnosed at birth and is
            frequently seen in children. However, type 1 diabetes is not specific to children; it can also be
            diagnosed in adults. In fact, about 30% of diagnoses occur in people in young adulthood.
        </p>
        <h3>Type 2</h3>
        <h4>Diabetes can be prevented in children.</h4>
        <p>There are more cases of type 2 diabetes recorded in America than type 1 diabetes. An
            estimated 16 million Americans have type 2 diabetes, not including the predicted millions
            who have not been diagnosed. Risk factors for developing type 2 diabetes include being
            overweight, lack of physical activity, poor diet, and family history. Therefore, many lifestyle
            adjustments can help prevent this condition. <br>
            Encourage a healthy diet in your children’s lifestyle. Fill their plates with high-nutrient foods
            low in fat and calories, and eliminate high-calorie or sugary foods. It’s also recommended to
            get at least 60 minutes of physical activity daily. Make this a fun family activity to get you
            and your child’s body moving.
        </p>
    </div>
    <div class="para1 thr">
        <h3>There are protection laws in place to prevent discrimination against children
            with diabetes.</h3>
        <p>According to Section 504 and The Education of Children with Disabilities, children with
            diabetes are protected in schools. This law ensures a child’s full participation in school while
            still caring for their medical needs. For example, schools can not fault student absence due to
            diabetes, they can not refuse to administer medication, and they can not exclude students
            from sports or extracurricular activities due to illness.</p>
    </div>
</section>    
</div>
{% endblock %}