{% extends 'base.html' %} 
{% block content %}
<div class="delbody">
  <div class="delcontain">
    <div class="roww">
        <div class="delcard">
          <h1 class="headtits">{% block title %} {{ object.title }} {% endblock title %}</h1>
          <p class=" texts">{{ post.author }} | {{ post.created_on }}</p>
          <p class="botext ">{{ object.content | safe }}</p>
          <a href="{{ object.content | safe }}">{{ object.content | safe }}</a>
          </div>
    </div>
  </div>
</div>
{% endblock content %}