{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wonmain">
        
    <div class="titwon">
        <h2>Women's Diabetes</h2>
    </div>
    <div class="wonbody">
        <div class="wonbody2">
            <img src="{% static 'woimgs/img1.jpg' %}" alt="">
            <div class="list1">
                <h3 class="h3s">Risk Factors for Type 1 Diabetes:</h3>
                <ul>
                    <li>Developed in childhood, often genetic</li>
                    <li>Higher risk if a parent or sibling has the condition</li>
                    <li>Living in a cold climate may increase risk</li>
                </ul>
            </div>
            <div class="list1">
                <h3 class="h3s">Risk Factors for Type 2 Diabetes in Women:</h3>
                <ul>
                    <li>Age 45 or older</li>
                    <li>Overweight or obese</li>
                    <li>Family history of diabetes</li>
                    <li>Ethnicity: African American, Hispanic, Asian American, American Indian, Alaska Native, Native Hawaiian, or Pacific Islander</li>
                    <li>Previous gestational diabetes or baby with a birth weight over 9 pounds</li>
                    <li>High blood pressure or high cholesterol</li>
                    <li>Physical inactivity (less than three times a week)</li>
                    <li>PCOS (Polycystic Ovary Syndrome)</li>
                    <li>History of heart disease or stroke</li>
                </ul>
            </div>
            <div class="list1 list2">
                <h3 class="h3s">Factors Affecting Diabetes Risk Disparities:</h3>
                <ul>
                    <li>Biological factors like weight status and fat deposits</li>
                    <li>Lack of healthcare access</li>
                    <li>Inequities in healthcare</li>
                    <li>Socioeconomic status and social determinants of health</li>
                    <li>Cultural attitudes and behaviors toward diabetes prevention</li>
                </ul>
            </div>
            <div class="list1 list2">
                <h3 class="h3s">Cardiovascular Risk in Women with Diabetes:</h3>
                <ul>
                    <li>significantly increases cardiovascular risk</li>
                    <li>Premenopausal diabetic women face earlier cardiovascular risk than non-diabetic women</li>
                    <li>diminishes the cardiovascular protection usually provided by estrogen </li>
                </ul>
            </div>
            <div class="list1">
                <h3 class="h3s">How Diabetes Raises Heart Disease Risk:</h3>
                <ul>
                    <li>Blood glucose concentration affects cardiovascular risk</li>
                    <li>Hemoglobin A1C test measures blood sugar levels over three months</li>
                    <li>Diabetes impacts both large and small blood vessels</li>
                    <li>Effects include glycosylation of blood proteins, clumping of LDL cholesterol, fatty acid production, and inflammation leading to atherosclerosis.
                </ul>
            </div>
        </div>
        <div class="woimgs">
            <img src="{% static 'woimgs/img1.jpg' %}" alt="">
            <img src="{% static 'woimgs/img2.jpg' %}" alt="">
        </div>
    </div>
    </div>
{% endblock %}